/* Reset Style */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}






/* 

Generic Settings

*/

/* Generic Styling settings for background in body */
body {
    height: 100%;
    width: 100%;
    background: radial-gradient(#1b860d, #000000);
    background-size:contain;
    background-attachment: scroll;
    background-position: center;
}

/* Dynamically adjusts the image to be in the center of the screen */
img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}







/* 

Specific screen formatting

*/


/* Mobile Devices */
@media screen and (max-width: 1200px) {

    /* Styling for the fake "buttons" used for the about page */
    .fakeButtons h1 {
        margin-bottom: 3rem;
        color:rgb(150, 204, 96);
        text-align: left;
    }

    /* Styling for main title header */
    .mainTitleHeader h1 {
        text-align: center;
        color: #1b860d;
        font-size: 3rem;
    }
}






/* Desktop Devices */
@media screen and (min-width: 1200px) {

    /* Styling for the fake "buttons" used for the about page */
    .fakeButtons h1 {
        margin-bottom: 3rem;
        color:rgb(150, 204, 96);
        text-align: left;
    }

    /* Styling for main title header */
    .mainTitleHeader h1 {
        text-align: center;
        color: #1b860d;
        font-size: 6rem;
    }
}