/*

 At-rule Definitions

*/

/* Intended for use in H1 Titles */
@font-face {
    font-family: 'TitleFont';
    src: url('../fonts/BaskervvilleSC-Regular.ttf') format('truetype');
}


/* Intended for use in H2 Descriptions */
@font-face {
    font-family: 'DescriptionFont';
    src: url('../fonts/JMH\ Typewriter.ttf') format('truetype');

}

/* Intended for use in sample page showcasing Lord of the Rings, a passion of mine */
@font-face {
    font-family: 'lotrOldElvishFont';
    src: url('../fonts/elvish\ ring\ nfi.ttf') format('truetype');
}

/* Actual definition of the fade animation used below */
@keyframes fadeOutAnim {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}






/* 

Generic Settings 

*/

/* Bacground color gradiant and set sizing for full viewport as well as maintain so that the bg scrolls with the user */
body {
    background: linear-gradient(black, rgb(10, 53, 172));
    height: 100vh;
    width: 100vw;
}

/* Defines the fade-out animation for fading out */
.fade-out {
    animation: fadeOutAnim 2s ease 0s 1 normal forwards;
}

/* Defines the fade-out animation for fading in */
.fade-in {
    animation: fadeOutAnim 2s ease 0s 1 normal backwards;
}

/* Generic styling for the H1 & H2 within Body */
.introBodyHeader {
    font-weight: bold;
    color:rgb(24, 55, 63);
}

/* Ensure the footer always remains at the bottom of the page without exception. */
.footerClass footer {
    position: absolute;
    bottom: 0%
}

/* Generic Main Title Background Styling */
.mainTitleHeader {
    background-image: url(../images/bg_image.jpg);
    background-position: top 25% center;
}


/* Desktop Devices */
@media screen and (min-width: 1200px) {

    /* Title Header 1 within Body */
    .introBodyHeader h1 {
        font-family:'TitleFont';
        text-align: center;
    }

    /* Link styling for all <a> elements in the Header 1 & 2 within body */
    .introBodyHeader a {
        font-size: 3rem;
    }    

    /* Styling for the main title <a> element to remove all visible color alterations for the title "Kyle Maillet" and scale its size */
    .mainTitleHeader a, .mainTitleHeader a:hover, .mainTitleHeader a:active, .mainTitleHeader a:visited {
        color: inherit;
        text-decoration: none;
        font-size: 16rem;
    }

    /* Spacer for between links */
    .spacerDiv {
        margin: 6rem;
    }

    /* Styles the h2 background-color to not take up the whole screen */
    .introBodyHeader h2 {
        margin-left: 25vw;
        margin-right: 25vw;
    } 

    /* Generic styling for H2 within Body */
    .introBodyHeader1 h2 {
        text-align: center;
        background-image: url(../images/bg_image.jpg);
        background-position: top 50% center;
    }

    /* Generic styling for H2 within Body */
    .introBodyHeader2 h2 {
        text-align: center;
        background-image: url(../images/bg_image.jpg);
        background-position: top 60% center;
    }  

    /* Font coloring for the menu options */
    .introBodyHeader a {
        color: rgb(255, 255, 255);
        text-shadow: 2px 3px black;
    }
}







/* Mobile Devices */
@media screen and (max-width: 1200px) {

    /* Title Header 1 within Body */
    .introBodyHeader h1 {
        font-family:'TitleFont';
        text-align: center;
    }

    /* Link styling for all <a> elements in the Header 1 & 2 within body */
    .introBodyHeader a {
        color: rgb(17, 137, 192);
        font-size: 1.5rem;
    } 

    /* Styling for the main title <a> element to remove all visible color alterations for the title "Kyle Maillet" and scale its size */
    .mainTitleHeader a, .mainTitleHeader a:hover, .mainTitleHeader a:active, .mainTitleHeader a:visited {
        color: inherit;
        text-decoration: none;
        font-size: 3rem;
        text-align: center;
        vertical-align: middle;
    }

    /* Spacer for between links */
    .spacerDiv {
        margin: 6rem;
    }

    /* Styles the h2 background-color to not take up the whole screen */
    .introBodyHeader h2 {
        margin-left: 25vw;
        margin-right: 25vw;
    }   

    /* Generic styling for H2 within Body */
    .introBodyHeader1 h2 {
        text-align: center;
        background-image: url(../images/bg_image.jpg);
        background-position: top 50% center;
    }

    /* Generic styling for H2 within Body */
    .introBodyHeader2 h2 {
        text-align: center;
        background-image: url(../images/bg_image.jpg);
        background-position: top 60% center;
    }  

    /* Font coloring for the menu options */
    .introBodyHeader a {
        color: rgb(255, 255, 255);
        text-shadow: 2px 3px black;
    }

    .mainTitleHeader {
        height: 25vh;
    }
    
}