/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/*

At-definitions

*/
@font-face {
    font-family: 'BaskervilleSC';
    src: url(../fonts/BaskervvilleSC-Regular.ttf) format(truetype);
}
/* Desktop and wide devices */
@media screen and (min-width: 1400px)
{
    .headerTitle {
        font-size: 7rem;
        font-family: 'BaskervilleSC';
    }
    .headerMenu {
        font-size: 2rem;
    }
}

/* Mobile and narrow devices */
@media screen and (max-width: 1400px)
{
    
    .headerTitle {
        font-size: 5rem;
        font-family: 'BaskervilleSC';
    }
}

.headerTitle {
    text-align: center;
}

.headerMenu {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
}

.headerMenu a:visited, .headerMenu a:link {
    color: blue;
}

.headerMenu a:hover {
    color:darkblue;
    font-weight: bold;
    font-size: 2.5rem;
}