/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


/*

At-definitions

*/

@font-face {
    font-family: 'Noto Sans Glagolitic';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Glagolitic&display=swap');
}

/* Desktop and wide devices */
@media screen and (min-width: 1200)
{
    .headerTitle {
        font-size: 7rem;
        font-family: 'Noto Sans Glagolitic';
    }
}

/* Mobile and narrow devices */
@media screen and (min-width: 1200)
{
    .headerTitle {
        font-size: 7rem;
        font-family: 'Noto Sans Glagolitic';
    }
}
